body.dark {
    background-color: #121212;
}
body.dark * {
    color: var(--light-color);
}

body.dark textarea,
body.dark input {
    background-color: grey;
}

body.dark .fa-solid.fa-lightbulb {
    color: white;
}

body.dark .fa-solid.fa-lightbulb:hover {
    color: #121212;
}

body.dark .light-icon {
    color: #080303;
    background-color: var(--primary-color);
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 50px;
    border-color: #fffcf2;
}

body.dark div :is(.skills-section__skill-container) {
    border-color: #fffcf2;
    box-shadow: 10px 10px 5px rgba(white, white, white, 0.9);
}

body.dark div :is(.projects-section__card-container) {
    border-color: aliceblue;
}

body.dark div :is(.project__section-project-pill):hover {
    background-color: #121212;
}
body.dark div :is(.project__section-project-pill) {
    border-color: #fffcf2;
}

body.dark .contact-section__name-field,
body.dark .contact-section__email-field,
body.dark .contact-section__message-field,
body.dark .contact-section__submit-button {
    border-color: #fffcf2;
    background-color: #121212;
}

body.dark .contact-section__name-field::placeholder,
body.dark .contact-section__email-field::placeholder,
body.dark .contact-section__message-field::placeholder {
    color: #fffcf2;
}
body.dark .contact-section__submit-button {
    color: #fffcf2;
}

body.dark .contact-section__submit-button:hover {
    background-color: #014421;
}

body.dark .skills-section__skill-container:nth-child(odd) {
    background: lightgray;
}

body.dark .skills-section__skill-container:nth-child(odd) span {
    color: #080303;
}

body.dark .project-section__project-image-light {
    display: none;
}

body.dark p {
    color: #fffcf2;
}
